<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">
	<extensions>
		<add assembly ="NLog.Web.AspNetCore" />
	</extensions>
	<targets>
		<target name="allfile" xsi:type="File"
				fileName="D:\repos\C#\RestaurantAPI\RestaurantAPI\Logs\nlog-all-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}" />
		<target name="exceptions" xsi:type="File"
				fileName="D:\repos\C#\RestaurantAPI\RestaurantAPI\Logs\nlog-all-exceptions-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}" />
		<target name="request-time" xsi:type="File"
				fileName="D:\repos\C#\RestaurantAPI\RestaurantAPI\Logs\request-time${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<logger name="RestaurantAPI.*" minlevel="Error" writeTo="exceptions" />
		<logger name="RestaurantAPI.Middleware.RequestStopwatchMiddleware" minlevel="Info" writeTo="request-time" />
	</rules>
</nlog>